.main{
    position: relative;
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  
  .main img{
    object-fit: cover;
  }
  
  .sliderContainer{
    position: absolute;
    top: calc(100vh - 220px);
  }
  
  .slider{
    position: relative;
    white-space: nowrap;
  }
  
  .slider p{
    position: relative;
    margin: 0px;
    color: white;
    font-size: 160px;
    font-weight: 400;
    padding-right: 50px;
  }
  
  .slider p:nth-of-type(2){
    position: absolute;
    left: 100%;
    top: 0;
  }

  .self{
    height: 100px;
    width: 500px;
    position: absolute;
    margin-left: 55%;
    margin-top: 15%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .text-span{
    color: white;
    font-size: 24px;
    
  }

  .text{
    margin-top: 10px;
  }